<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Skjutsgruppen</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>nu.skjutsgruppen.Skjutsgruppen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>__RN_CONFIG_FB_LOGIN_SCHEME</string>
				<string>__RN_CONFIG_FB_LOGIN_SCHEME</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>21</string>
	<key>FacebookAppID</key>
	<string>__RN_CONFIG_FB_ID</string>
	<key>FacebookDisplayName</key>
	<string>Skjutsgruppen</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We use your camera app to click and  upload photos related to trips, experience and groups.</string>
	<key>NSContactsUsageDescription</key>
	<string>We want to trust you. In this movement we trust each other by showing how we know each other. If you and another participant has each others phone numbers you are connected as friends (as always, you have full control and can delete friend connections).</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Share your location with your friends when you want them to know your current location. You can control who can see your location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your iOS 11 and higher background location usage description goes here.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Share your location with your friends when you want them to know your current location. You can control who can see your location.</string>
	<key>NSMainNibFile</key>
	<string>LaunchScreen</string>
	<key>NSMainNibFile~ipad</key>
	<string>LaunchScreen</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use microphone to record your experience and share them with your friends when you choose.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We store the image you clicked so you can create experience view them later</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use your gallery to upload photos related to trips and groups.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>AvenirLTStd-Book.ttf</string>
		<string>AvenirLTStd-Heavy.ttf</string>
		<string>AvenirLTStd-Medium.ttf</string>
		<string>SFUIDisplay-Bold.ttf</string>
		<string>SFUIDisplay-Regular.ttf</string>
		<string>SFUIText-Bold.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>SFUIDisplay-Semi-Bold.ttf</string>
		<string>SFUIText-RegularItalic.ttf</string>
		<string>SFUIText-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
